
.container {
	width: 100%;
	height: 100%;
	min-height: 400px;
}

/************Banner Start***************/
header {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('../image/homepage/background.jpeg');
	background-size: cover;
}
header .title {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 75px;
	margin-left: -150px;
	margin-top: -100px;
	text-align: center;
}
header .title span {
	position: relative;
	color: rgba(255,255,255,0.8);
	font-size: 60px;
	opacity: 0;
	text-shadow: 0 0 20px #fff;
	animation: 3s titleShine ease infinite;
}
header .title p {
	margin-top: 30px;
	font-size: 20px;
	color: #ccc;
	opacity: 0;
}
@keyframes titleShine {
	0% { text-shadow: 0 0 5px #fff }
	50% { text-shadow: 0 0 15px #fff }
	100% { text-shadow: 0 0 5px #fff }
}
header nav {
	position: fixed;
	z-index: 1;
	top: 50%;
	margin-top: -50px;
	left: 20px;
	display: table;
}
header nav ul {
	position: absolute;
	left: 5px;
	top: -180px;
	width: 100px;
	height: 100px;
}
header nav li {
	position: relative;
	left: -150px;
	color: #fff;
	margin-bottom: 33px;
	width: 98px;
	height: 36px;
	background: rgba(105, 105, 105, 0.52);
	text-align: center;
	border-radius: 20px;
	line-height: 36px;
	/*transform: translateX(-131px);*/
	/*border: 2px solid rgba(105, 105, 105, 0.52);*/
}
header nav li:hover {
	cursor: pointer;
	background: rgb(255, 137, 0);
}
header nav li a {
	display: block;
	width: 100%;
	height: 100%;
}

header nav .menu-toggle {
	display: table;
}
header nav .menu-toggle:hover {
	cursor: pointer;
}
header .menu-toggle svg {
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
header .menu-toggle path {
  fill: none;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: rgba(255,255,255,0.8);
  stroke-dashoffset: 0px;
}

/*header .menu-toggle:hover path{
	stroke: rgb(255, 137, 0);
}*/
header .menu-toggle path#top,
header .menu-toggle path#bottom {
  stroke-dasharray: 240px 950px;
}
header .menu-toggle path#middle {
  stroke-dasharray: 240px 240px;
}
header .cross path#top,
header .cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
header .cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
  /*opacity: 0;*/
}

header .arrow {
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: 15%;
	width: 50px;
	height: 50px;
	animation: 4s arrowAnimate infinite;
}
@keyframes arrowAnimate {
	0% { transform: translateY(0) }
	25% { transform: translateY(25px); }
	50% { transform: translateY(5px); }
	75% { transform: translateY(40px) rotateY(0deg) ; }
	100% { transform: translateY(0) rotateY(540deg) }
}
header .arrow .icon {
	color: #c5c5c5;
	width: 50px;
	height: 50px;
	transform: rotate(90deg);
}
header .arrow .icon:hover {
	cursor: pointer;
	color: rgb(255, 137, 0);
}
/************Banner End***************/
/************Intro Start***************/
.intro {
	position: relative;
	width: 100%;
	height: 700px;
	background: #000;
	padding: 10px 0;
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-image: url('../image/homepage/treeBackground.jpg');*/
	background-image: url('../image/homepage/background.jpeg');

	background-repeat: no-repeat;
	background-size: cover;
}
.intro .intro-wrapper {
	width: 70%;
	margin: 0 auto;
	/*background: rgba(43, 41, 41, 0.5);*/
	border-radius: 20px;
	overflow: hidden;
}

.intro-title {
	margin-top: 50px;
	text-align: center;
	/*font-family: 'IBM 3270';*/
	height: 120px;
	line-height: 120px;
	margin-bottom: 20px;
}
.intro-title span {
	font-size: 80px;
	color: #fff;
	text-shadow: 0 0 17px #fff;
}

.intro-content {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}
.intro-content-item {
	flex-basis: 230px;
	border-radius: 20px;
	height: 450px;	
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.intro-cont-item-title {
	text-align: center;
	line-height: 180px;
	flex-basis: 180px;
	border-radius: 50%;
	font-size: 25px;
	color: rgba(181, 181, 181, 0.9);
	font-size: 100px;
}
.intro-cont-item-content {
	font-size: 16px;
	color: #fff;
	/*background: rgba(244,244,244,.3);*/
	padding-left: 4px;
	padding-left: 8px;
	flex-grow: 1;
}
.intro-cont-item-content h1 {
	text-align: center;
	font-size: 30px;
	margin-top: -20px;
	margin-bottom: 40px;
	color: #fff;
}
.intro-cont-item-content p {
	margin-left: 30px;
}
/************Intro End***************/
/***life*********Map Start***************/
.life {
	width: 100%;
	height: 740px;
	/*background-image: url(../image/homepage/mapBackground.jpg);*/
	background-image: url('../image/homepage/background.jpeg');
	background-size: cover;
}
.life-wrapper {
	padding-top: 40px;
	width: 70%;
	height: 90%;
	margin: 0 auto;
	text-align: center;
}
.life-wrapper span {
	font-size: 50px;
	color: #fff;
	text-shadow: 0 0 10px #fff;
}
.life-pic-container {
	position: relative;
	margin-top: 30px;
	background: rgba(255,255,255,.18);
	height: 75%;
	padding-top: 40px;
	overflow: hidden;

}
.life-pic {
	position: relative;
	opacity: 1;
	width: 80%;
	height: 80%;
	border: 2px solid #ccc;
	margin: 0 auto;
	margin-bottom: 25px;
	background: rgba(255,255,255,.8);
}
.life-pic img {
	width: 100%;
	height: 100%;
}
.life-pic-container p {
	position: relative;
	text-align: right;
	margin-right: 120px;
	font-size: 25px;
	color: #fff;
}

/************Map End***************/
/************Slogan Start***************/
.slogan {
	position: relative;
	width: 100%;
	height: 550px;
	/*background-image: url(../image/homepage/sloganBackground.png);*/
	background-image: url('../image/homepage/background.jpeg');

	background-position: 0 -255px;
	background-size: cover;
}
.slogan-title {
	padding-top: 50px;
	text-align: center;
}
.slogan span {
	color: #fff;
	font-size: 50px;
	text-shadow: 0 0 13px #fff;
}
.slogan-content {
	width: 80%;
	height: 60%;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	/*background: rgba(255,255,255,.5);*/
}
.slogan-content p {
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	text-shadow: 0 0 10px #fff;
}

/************Slogan End***************/
/************Footer Start***************/
footer {
	width: 100%;
	height: 160px;
	background: #000;
	text-align: center;
	padding-top: 40px;
}
footer span {
	color: #fff;
	font-size: 30px;
	line-height: 20px;
	text-shadow: 0 0 15px #fff;
}
.footer-logos {
	display: flex;
	width: 60%;
	margin: 0 auto;
	padding-top: 30px;
	justify-content: space-around;
	/*color: rgba(255,255,255,.8);*/
	color: #ccc;
	/*opacity: .8;*/
	font-size: 60px;
}
.footer-logos a{
	color: #ccc;
}
.footer-logos a:hover{
	cursor: pointer;
	color: rgb(255, 137, 0);
}


/************Footer End***************/